Debug/*
Release/*

/src/*-odb.*

#!makefile
#!*.mk
#!Debug/src/subdir.mk

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
